@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Sposta il contenuto completamente a sinistra */
  }
}


.marquee-container {
  display: flex;
  overflow: hidden;
}

.marquee-content {
  display: inline-flex; /* Usa inline-flex per evitare interruzioni di riga */
  white-space: nowrap; /* Impedisce la rottura delle righe */
  animation: marquee 40s linear infinite; /* Regola la durata per una transizione più fluida */
}

.text-shadow {
  text-shadow: 7px 7px 1px rgb(10, 10, 10); /* Cambia i valori per modificare l'ombra */
}

.text-shadow-custom{
  text-shadow: 4px 4px 1px rgb(10, 10, 10); /* Cambia i valori per modificare l'ombra */
}

.shadow-custom{

  box-shadow: 7px 7px 1px rgb(10, 10, 10);;

}

.bg-custom{
  background-color: #F8E197;

}

.custom-col-border{
  border:#F8E197;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}


.bungee {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bungee-light {
  font-family: "Bungee", sans-serif;
  font-weight: lighter;
  font-style: normal;
}


.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-scrollbar{
  display: none;
}
::-moz-selection { /* Code for Firefox */
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

.link-underline-animation {
  background-size: 0 2px;
  background-image: linear-gradient(transparent, transparent), linear-gradient(to right, #65B1E0, #65B1E0);
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link-underline-animation:hover {
  background-size: 100% 2px;
}


@keyframes shake-y {
  0%, 100% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(-5px);
  }
  75% {
      transform: translateY(5px);
  }
}

@keyframes shake-x {
  0%, 100% {
      transform: translateX(0);
  }
  25% {
      transform: translateX(-2px);
  }
  75% {
      transform: translateX(2px);
  }
}

.shakeX {
  animation: shake-x 0.2s ease-in-out infinite;
}

.shakeY {
  animation: shake-y 0.2s ease-in-out infinite;
}

.shakeY-special{
  animation: shake-y 0.5s ease-in-out infinite;
  
}

.carousel-container {
  position: relative;
  overflow: hidden;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}





body {
  background-repeat: repeat;
  background-size: cover;
  background-attachment:fixed;
  background-image: url('/images/image38.jpg');
  backface-visibility: inherit;
}


.overlay {
  position: fixed; /* Posizionamento fisso per coprire tutto */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f8e19773; /* Cambia il colore e l'opacità */
  z-index: -1; /* Assicura che l'overlay sia dietro il contenuto */
}

.overlay-custom {
  position: fixed; /* Posizionamento fisso per coprire tutto */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f8e197dc; /* Cambia il colore e l'opacità */
  z-index: -1; /* Assicura che l'overlay sia dietro il contenuto */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.menu-icon {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.menu-icon .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  position: absolute;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.line1 {
  top: 5px;
  border: 2px solid;
}

.line2 {
  top: 11px;
  border: 2px solid;
}

.line3 {
  top: 17px;
  border: 2px solid;
}

.open .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.open .line2 {
  opacity: 0;
}

.open .line3 {
  transform: rotate(-45deg) translate(5px, -5px);
}
